DOMAIN=         # 192.168.0.1   get with `ipconfig` or `ifconfig | grep "inet " | grep -Fv 127.0.0.1 | awk '{print $2}'`
TOKEN=          # Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InRvbW15QGV4YW1wbGUuY29tIiwiaWQiOiI1YjU2ZjQ2NTI0ZjNjZDM4ODI3NjA4MzMiLCJpYXQiOjE1MzI1OTM4NjksImV4cCI6MTU2NDEyOTg2OX0.3ZG3D9KSYk2VOg6MNAMbA1z_3TXMCtI5I0B9-GH5etQ